:host {
  display: block;
}

ion-content {
  font-size: 1.1em;
}

form {
  max-width: 460px;
  margin: 0 auto;
}

ion-card-title {
  font-size: 1.4em;
}

ion-card-subtitle {
  color: gray;
  font-size: 0.9em;
}

ion-button {
  margin-top: 18px;
}
